<a href="https://colab.research.google.com/github/arnav-is-op/sql-analytics-notebooks/blob/main/project_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

# **0)create a view for cohort analysis**

hint:-

this view must have customerkey, orderdate, total revenue, count , customer
details,

cohort year and first purchase date..(last two using window functions)

but this is not optimal query:-

In [2]:
%%sql

# CREATE OR REPLACE VIEW customer_cohort_analysis AS
WITH CTE AS(

SELECT
s.customerkey,
s.orderdate,
SUM(netprice*quantity*exchangerate) AS total_Revenue,
COUNT(s.customerkey) AS no_of_customers,
c.givenname,
c.surname,
c.city,
c.state
FROM
sales s
LEFT JOIN
customer c ON s.customerkey = c.customerkey
GROUP BY
s.customerkey,
s.orderdate,
c.givenname,
c.surname,
c.city,
c.state
)
SELECT
ct.*,
EXTRACT(YEAR FROM (MIN(ct.orderdate) OVER(PARTITION BY ct.customerkey))) AS cohort_year,
MIN(ct.orderdate) OVER(PARTITION BY ct.customerkey) as first_purchase_date
FROM
CTE ct;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,customerkey,orderdate,total_revenue,no_of_customers,givenname,surname,city,state,cohort_year,first_purchase_date
0,15,2021-03-08,2217.41,1,Julian,McGuigan,CANNING CREEK,QLD,2021,2021-03-08
1,180,2018-07-28,525.31,1,Gabriel,Bosanquet,YELTA,VIC,2018,2018-07-28
2,180,2023-08-28,1984.90,2,Gabriel,Bosanquet,YELTA,VIC,2018,2018-07-28
3,185,2019-06-01,1395.52,1,Gabrielle,Castella,MALLANGANEE,NSW,2019,2019-06-01
4,243,2016-05-19,287.67,1,Maya,Atherton,KINDEE,NSW,2016,2016-05-19
...,...,...,...,...,...,...,...,...,...,...
83094,2099697,2022-09-13,38.20,3,Phillipp,Maier,San Luis Obispo,CA,2022,2022-09-13
83095,2099711,2016-08-13,2067.75,1,Katerina,Pavlícková,Hattiesburg,MS,2016,2016-08-13
83096,2099711,2017-08-14,3940.92,1,Katerina,Pavlícková,Hattiesburg,MS,2016,2016-08-13
83097,2099743,2022-03-17,469.62,2,Luciana,Almonte,Lexington,MS,2022,2022-03-17
83098,2099743,2023-02-11,598.46,1,Luciana,Almonte,Lexington,MS,2022,2022-03-17

the optimal one:-

In [3]:
%%sql
WITH cte AS (

SELECT
s.customerkey,
s.orderdate,
SUM(s.quantity*s.netprice*s.exchangerate) AS total_net_revenue,
COUNT(s.customerkey) AS num_of_customers,
MAX(c.givenname) AS givenname,
MAX(c.surname )AS surname,
MAX(c.state) AS state,
MAX(c.countryfull) AS countryfull,
MAX(c.age) AS age
FROM
sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
GROUP BY
s.customerkey,
s.orderdate

)
SELECT
customerkey,
orderdate,
total_net_revenue,
CONCAT(TRIM(givenname),' ' , TRIM(surname) ) AS cleaned_name,
countryfull,
age,
MIN(ct.orderdate) OVER(PARTITION BY ct.customerkey) AS first_purchase_date,
EXTRACT(YEAR FROM (MIN(ct.orderdate) OVER(PARTITION BY customerkey))) AS cohort_year
FROM
cte ct

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,customerkey,orderdate,total_net_revenue,cleaned_name,countryfull,age,first_purchase_date,cohort_year
0,15,2021-03-08,2217.41,Julian McGuigan,Australia,55,2021-03-08,2021
1,180,2018-07-28,525.31,Gabriel Bosanquet,Australia,65,2018-07-28,2018
2,180,2023-08-28,1984.90,Gabriel Bosanquet,Australia,65,2018-07-28,2018
3,185,2019-06-01,1395.52,Gabrielle Castella,Australia,40,2019-06-01,2019
4,243,2016-05-19,287.67,Maya Atherton,Australia,66,2016-05-19,2016
...,...,...,...,...,...,...,...,...
83094,2099697,2022-09-13,38.20,Phillipp Maier,United States,54,2022-09-13,2022
83095,2099711,2016-08-13,2067.75,Katerina Pavlícková,United States,80,2016-08-13,2016
83096,2099711,2017-08-14,3940.92,Katerina Pavlícková,United States,80,2016-08-13,2016
83097,2099743,2022-03-17,469.62,Luciana Almonte,United States,21,2022-03-17,2022
83098,2099743,2023-02-11,598.46,Luciana Almonte,United States,21,2022-03-17,2022

**now the view:-**

In [4]:
%%sql

CREATE VIEW customer_cohort_analysis AS

WITH cte AS (

SELECT
s.customerkey,
s.orderdate,
SUM(s.quantity*s.netprice*s.exchangerate) AS total_net_revenue,
COUNT(s.customerkey) AS num_of_customers,
MAX(c.givenname) AS givenname,
MAX(c.surname )AS surname,
MAX(c.state) AS state,
MAX(c.countryfull) AS countryfull,
MAX(c.age) AS age
FROM
sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
GROUP BY
s.customerkey,
s.orderdate

)
SELECT
customerkey,
orderdate,
total_net_revenue,
CONCAT(TRIM(givenname),' ' , TRIM(surname) ) AS cleaned_name,
countryfull,
age,
MIN(ct.orderdate) OVER(PARTITION BY ct.customerkey) AS first_purchase_date,
EXTRACT(YEAR FROM (MIN(ct.orderdate) OVER(PARTITION BY customerkey))) AS cohort_year
FROM
cte ct

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

# **q1) Project 1 — Customer SegmentationBusiness Question**

Which customers generate the most revenue and how can they be grouped based on lifetime value?

Companies rarely treat all customers equally. Revenue usually follows a Pareto distribution (small % drives most revenue).

Analytical Objective

For each customer:

Calculate total lifetime revenue

Count number of orders

Rank customers by spending

Divide customers into value segments

Typical segmentation:

High Value

Mid Value

Low Value

hint :- make 3 cte's

i) customer ltv cte where we do sum of total_net_revenue as the live time value of customer..

ii) make customer_net_revenue_percentages cte using percentile, as assign 25 and 75 percentages for total_revenue_from_each_customer.. also select all values of cte 1 here..

iii) now join those two cte using ', only' and use case when for assign low,mid,high values such that low is less than 25 per, mid is less than or eq to 75 and remaining is high and make this as a new cte named customer segmentation

In [5]:
%%sql

WITH customer_ltv AS (

SELECT
customerkey,
cleaned_name,
SUM(total_net_revenue)AS total_ltv -- ie the total_revenue_from_each_customer
FROM
customer_cohort_analysis
GROUP BY
customerkey,
cleaned_name
ORDER BY
customerkey ASC

), customer_net_revenue_percentages AS (

  SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP(ORDER BY total_ltv) AS per_25,
  PERCENTILE_CONT(0.75) WITHIN GROUP(ORDER BY total_ltv) AS per_75
  FROM
  customer_ltv

  )  , customer_segmentation AS (

    SELECT
    cl.*,
    CASE
        WHEN
         cl.total_ltv < cn.per_25 THEN '1-low-value'
        WHEN
          cl.total_ltv <= cn.per_75 THEN '2-mid-value'
        ELSE '3-high-value' END AS customer_segmented_values


    FROM
    customer_ltv cl , customer_net_revenue_percentages cn
  )
  SELECT
  COUNT(customerkey) AS num_of_customers,
  customer_segmented_values,
  SUM(total_ltv) AS total_ltv,
  SUM(total_ltv) / COUNT(customerkey) AS Percentage
  FROM
  customer_segmentation
  GROUP BY
  customer_segmented_values
ORDER BY
customer_segmented_values DESC

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

   num_of_customers customer_segmented_values    total_ltv  percentage
0             12372              3-high-value 135429277.27    10946.43
1             24743               2-mid-value  66636451.79     2693.14
2             12372               1-low-value   4341809.53      350.94



---

# **q2) Project 2 — Cohort Analysis--Business Question**

How do customers acquired in different years behave over time?

A cohort = group of customers based on first purchase date.

Example:

Customers who first bought in 2018

Customers who first bought in 2022

**Analytical Objective**

For every customer:

Find first purchase date

Assign cohort year

Track revenue generated by each cohort

Compare cohort performance

In [10]:
%%sql
SELECT
 cohort_year,
 COUNT(DISTINCT customerkey) AS count,
 SUM(total_net_revenue) AS net_revenue,
  SUM(total_net_revenue)/COUNT(customerkey) AS percentage_of_revenue
 FROM
 customer_cohort_analysis
 WHERE
 orderdate = first_purchase_date
 GROUP BY
 cohort_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  count  net_revenue  percentage_of_revenue
0        2015   2825   7245612.98                2564.82
1        2016   3397   9839134.34                2896.42
2        2017   4068  11771496.31                2893.68
3        2018   7446  19773770.56                2655.62
4        2019   7755  22245058.22                2868.48
5        2020   3031   7058614.52                2328.81
6        2021   4663  11974082.36                2567.89
7        2022   9010  21507554.55                2387.08
8        2023   5890  12890580.84                2188.55
9        2024   1402   2764779.66                1972.03



---

# **q3) Project 3 — Customer Retention / Churn Analysis**
Business Question

Which customers are likely inactive or churned?

Retention measures whether customers continue purchasing after acquisition.

Analytical Objective

For each customer:

Identify last purchase date

Measure inactivity period

Detect customers who stopped buying

Analyze churn pattern by cohort

hint:-

i)make a cte and use a row number partition by customer key so that we get a new row no for each customer.. if we do roder by decs we will see the last purchase marked as 1

ii) make another cte which will have churned customers... select all from pervious cte. make orderdate as last date as we then assign a where clause keeping row no = 1 that gives last purchase.. now using case when orderdate is less than max orderdate - 6 months as if he is not active for 6 months then he is churned else active.. then after we use where claues also make first purchase date less than max orderdate - 6 months orelse we will get customers who made recent purchase in 2024  feb , jan itself.. they are not old enough to qualify for the churning condition( last date in dataset is in april 2024)  

iii) now from cte2 select customer status,cohort year, count of customer key and do sum windows function on count of customers partiton by cohort year so that we get total no of customers from each cohort year to and divide them to gert percentage of both active and churned customers

In [25]:
%%sql

WITH customer_last_purchase AS (

SELECT
customerkey,
cleaned_name,
orderdate,
first_purchase_date,
ROW_NUMBER() OVER(PARTITION BY customerkey ORDER BY orderdate DESC) AS rn,
cohort_year
FROM
customer_cohort_analysis
), churned_customers AS (

    SELECT
  customerkey,
  cleaned_name,
  orderdate AS last_purchase_date,
  CASE WHEN orderdate < (SELECT MAX(orderdate ) FROM sales) - INTERVAL '6 months' THEN 'churned_customers' ELSE 'Active_customers' END AS customer_status,
  cohort_year
  FROM
  customer_last_purchase
  WHERE rn=1
  AND first_purchase_date < (SELECT MAX(orderdate ) FROM sales) - INTERVAL '6 months'

)
SELECT
cohort_year,
customer_status,
COUNT(customerkey),
SUM(COUNT(customerkey)) OVER(PARTITION BY cohort_year) AS total_customers_each_year,
ROUND(COUNT(customerkey)/SUM(COUNT(customerkey)) OVER(PARTITION BY cohort_year),2) AS percentage
FROM churned_customers
GROUP BY
cohort_year,
customer_status

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

18 rows affected.

   cohort_year    customer_status  count total_customers_each_year percentage
0         2015   Active_customers    237                      2825       0.08
1         2015  churned_customers   2588                      2825       0.92
2         2016   Active_customers    311                      3397       0.09
3         2016  churned_customers   3086                      3397       0.91
4         2017   Active_customers    385                      4068       0.09
5         2017  churned_customers   3683                      4068       0.91
6         2018   Active_customers    704                      7446       0.09
7         2018  churned_customers   6742                      7446       0.91
8         2019   Active_customers    687                      7755       0.09
9         2019  churned_customers   7068                      7755       0.91
10        2020   Active_customers    283                      3031       0.09
11        2020  churned_customers   2748                      3031       0.91
12        2021   Active_customers    442                      4663       0.09
13        2021  churned_customers   4221                      4663       0.91
14        2022   Active_customers    937                      9010       0.10
15        2022  churned_customers   8073                      9010       0.90
16        2023   Active_customers    455                      4718       0.10
17        2023  churned_customers   4263                      4718       0.90



---

[project questions collab notes](https://colab.research.google.com/drive/1lDEOIWNwlBWnSau_8x0XIdmpVfYQDecl#scrollTo=6R3uQx0i7kLf)